/* FIX THE SEARCH BAR FOR EVERYTHING */

body{
   width: 100%;
    background-color:#0B2633;
    margin: 0px;
 }

main{
    width: 100%;
}

/*gradient using this colour :  #01031a*/

a {
    text-decoration: none;
    color: inherit;
}

.burger{
    display: none;
  }

.burger div{
    display: none;
    width: 25px;
    height: 3px;
    background-color: #0B2633;
    margin: 5px;
}

.close_burger_list{
  display: none;
}


  /*This is the css for the header */ 
  .navbar{
      display: flex;
      justify-content: space-between;
      padding: 0.5em 0em;
      margin:0.5em 0px;
      position: fixed;
      top: 0px;
      width: 100vw;
      background-color: #ffffff;
      color: #0B2633;
      z-index: 1;
      font-size: 20px;
  }

  .navbar .logo{
      width: 7em; 
      text-align: center;  

  }

  .search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: auto;
  }
  

  .nav-links{
      display: flex;
    align-items: center;
    justify-content: center;
      list-style-type: none;
      margin: 0px;
      padding: 0px;
      width: auto;
  }

  .nav-links li{
      text-align: left;
      padding: 0px 1.2em;
  }




  /*This is the css for the home page */


  .home-hero-container{
      background-color: #0B2633;
      height: 30%;
      width: 100%;
  }

  .home-hero{
      color: #B2D5E5;
      background-color: #203E4C;
      padding: 7em 2em 2em 2em;
      border-radius: 0em 0em 2em 2em;
      height: 30em;
  }

  .home-hero h1{
      margin-top: 0px;
  }

  .home-features-container{
      padding: 50px;
      margin: 120px 0px;
  }

  .home-features{
      background-color: #0B2633;
      color: #B2D5E5;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
  }

  .feature h2{
      margin-top: 0px;
  }

  .home-cards{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      width: 100%;
  }    

  .card-container {
    color: white;
    font-family: sans-serif;
    margin: 100px 0px
  }

  .card-container .box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 15.875em;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 0.7rem;
    transition: all ease 0.3s;
  }

  .card-container .box .title {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.1em;
  }

  .card-container .box div strong {
    display: block;
    margin-bottom: 0.5rem;
    padding: 0.2rem 0;
  }

  .card-container .box div p {
    margin: 0;
    font-size: 0.9em;
    font-weight: 300;
    letter-spacing: 0.1em;
    padding: 0.2rem 0;
  }

  .card-container .box div span {
    font-size: 0.7rem;
    font-weight: 300;
    padding: 0.2rem 0;
  }

  .card-container .box div span:nth-child(3) {
    font-weight: 500;
    margin-right: 0.2rem;
    padding: 0.2rem 0;
  }

  .card-container .box:hover {
    box-shadow: 0px 0px 20px 1px #ffbb763f;
    border: 1px solid rgba(255, 255, 255, 0.454);
  }


  /*This is the css for the footer */
 
  .footer{
      background-color: #665635;
      text-align: center;
      padding: 0px;
      width: 100%;
      height: 30em;
      color:#0B2633;
      border-radius: 2em 2em 0px 0px;
  }

  .footer-copyright{
      position: relative;
      top: 10em;
      width: 100%;
  }

  #footer-title{
      font-size: 15vw;
      font-weight: bold;
      margin-bottom: 10px;
  }



/*this is the layout for the 1024px to 767px screens*/

@media (max-width: 1024px) {


  .home-features-container{
      padding: 30px;
      margin: 70px 0px;
  }

  .home-features{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
  }

  .home-cards{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 10px;
      width: 100%;
  }    

  .card-container {
    margin: 20px 0px;
    width: 80%;
    position: relative;
    left : 10%;
  }
}

@media (max-width: 768px) {
   .search-form {
    padding: 0px 1em;
   }
  

  .burger{
    display: block;
    cursor: pointer;
    position: relative;
    right: 2em;
    margin-left: 10px;
  }

  .burger div{
    display: block; 
  }

  .burger_list{
    display: none;
  }


  /*This is added from the script.js when the burger is clicked*/




  .burger_list_active {
    background-color: #ffffff;
    position: fixed;
    left: 50%;
    z-index: 2;
    height: 75%;
    width: 55%;
  }

  .nav-links_active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    margin: 0px;
  }

  .nav-links_li_active {
    text-align: center;
    margin: 0px;
    border: 1px solid #0B2633;
    font-size: 50px;
    width: 100%;
  }



  /*This is used to close the dropdown when the x is clicked*/

  .close_burger_list_active {
    display: block;
    position: relative;
    left: 75%;
    top: 0;
    cursor: pointer;
    margin-bottom: 2em;

  }


   
  


  .close_burger_list_line{
    position: relative;
    left: 1em;
    top: 0.5em;
    width: 1em;
    height: 0.2em;
    background-color: #0B2633;
    margin: 0.5em 0.5em;
  }


   /*this is for the trnasition of the burger to an X it is activated in the script.js*/

   .close_burger_list_line:nth-child(1) {
    transform: rotate(45deg) translate(3px, 5px);
    margin: 0px;
   }


   .close_burger_list_line:nth-child(2) {
    transform: rotate(-45deg) translate(-3px, 0px);
    margin: 0px;
   }


}

@media (max-width: 540px) {
  #footer-title{
    font-size: 15vw;
  }
  
}