/* FIX THE SEARCH BAR FOR EVERYTHING */

body{
    margin: 0;
    background-color:#0B2633;
    width: 100%;
    height: 100%;
 }

main{
    margin: 40px;
}

/*gradient using this colour :  #01031a*/

a {
    text-decoration: none;
    color: inherit;
}

#home-middle{
    position: relative;
    left: 20px;
}

.burger{
    display: none;
  }

.burger div{
    display: none;
    width: 25px;
    height: 3px;
    background-color: #0B2633;
    margin: 5px;
}

.close_burger_list{
  display: none;
}


  /*This is the css for the header */ 
  /* .navbar{
      display: flex;
      justify-content: space-between;
      padding: 10px 0px 10px 10px;
      margin:5px 0px;
      position: fixed;
      top: 0px;
      width: 100%;
      background-color: #ffffff;
      color: #0B2633;
      z-index: 1;
      font-size: 20px;
  }

  .navbar .logo{
      padding:0em 5em 0em 0em; 
      display: flex;
    align-items: center;
    justify-content: center;  

  }

  .search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  

  .nav-links{
      display: flex;
    align-items: center;
    justify-content: center;
      list-style-type: none;
      margin: 0em 0em 0em 5em;
  }

  .nav-links li{
      text-align: left;
  } */




  /*This is the css for the home page */
  /* .home-hero-container{
      background-color: #0B2633;
  }

  .home-hero{
      color: #B2D5E5;
      background-color: #203E4C;
      padding: 70px;
      border-radius: 20px;
      height: 500px;
  }

  .home-hero h1{
      margin-top: 0px;
  }

  .home-features-container{
      padding: 50px;
      margin: 120px 0px;
  }

  .home-features{
      background-color: #0B2633;
      color: #B2D5E5;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
  }

  .feature h2{
      margin-top: 0px;
  }

  .home-cards{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
  }    

  .card-container {
    color: white;
    position: relative;
    font-family: sans-serif;
    margin: 100px 0px
  }

  .card-container .box {
    width: 90%;
    height: 15.875em;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 0.7rem;
    transition: all ease 0.3s;
  }

  .card-container .box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card-container .box .title {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.1em;
  }

  .card-container .box div strong {
    display: block;
    margin-bottom: 0.5rem;
    padding: 0.2rem 0;
  }

  .card-container .box div p {
    margin: 0;
    font-size: 0.9em;
    font-weight: 300;
    letter-spacing: 0.1em;
    padding: 0.2rem 0;
  }

  .card-container .box div span {
    font-size: 0.7rem;
    font-weight: 300;
    padding: 0.2rem 0;
  }

  .card-container .box div span:nth-child(3) {
    font-weight: 500;
    margin-right: 0.2rem;
    padding: 0.2rem 0;
  }

  .card-container .box:hover {
    box-shadow: 0px 0px 20px 1px #ffbb763f;
    border: 1px solid rgba(255, 255, 255, 0.454);
  } */


  /*This is the css for the footer */
 
  /* .footer{
      background-color: #665635;
      text-align: center;
      padding: 20px;
      width: 100%;
      height: 300px;
      color:#0B2633;
      border-radius: 70px 70px 0px 0px;
  }

  #footer-title{
      font-size: 100px;
      font-weight: bold;
      margin-bottom: 10px;
  } */



/*this is the layout for the 2048px to  screens*/


@media (max-width: 2048px) {
  /*This is the css for the header */ 
  .navbar{
      display: flex;
      justify-content: space-between;
      padding: 10px 0px 10px 10px;
      margin:5px 0px;
      position: fixed;
      top: 0px;
      width: 100%;
      background-color: #ffffff;
      color: #0B2633;
      z-index: 1;
      font-size: 20px;
  }

  .navbar .logo{
      padding:0em 5em 0em 0em; 
      display: flex;
    align-items: center;
    justify-content: center;  

  }

  .search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  /* 
  .search-input {
    font-family: inherit;
    font-size: inherit;
    background-color: #f4f2f2;
    border: none;
    color: #646464;
    padding: 0.7rem 1rem;
    border-radius: 30px;
  }


  .search-button {
    border: none;
    background-color: #f4f2f2;
    margin-top: .1em;
  }

  .search-button:hover {
    cursor: pointer;
  
  } */


  .nav-links{
      display: flex;
    align-items: center;
    justify-content: center;
      list-style-type: none;
      margin: 0em 0em 0em 5em;
  }

  .nav-links li{
      text-align: left;
      margin-right: 20px;
  }

 


  /*This is the css for the home page */
  .home-hero-container{
      background-color: #0B2633;
  }

  .home-hero{
      color: #B2D5E5;
      background-color: #203E4C;
      padding: 70px;
      border-radius: 20px;
      height: 500px;
  }

  .home-hero h1{
      margin-top: 0px;
  }

  .home-features-container{
      padding: 50px;
      margin: 120px 0px;
  }

  .home-features{
      background-color: #0B2633;
      color: #B2D5E5;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
  }

  .feature h2{
      margin-top: 0px;
  }

  .home-cards{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      width: 100%;
  }    

  .card-container {
    color: white;
    font-family: sans-serif;
    margin: 50px 10px
  }

  .card-container .box {
    width: 90%;
    height: 15.875em;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 0.7rem;
    transition: all ease 0.3s;
  }

  .card-container .box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card-container .box .title {
    font-size: 2em;
    font-weight: 500;
    letter-spacing: 0.1em;
  }

  .card-container .box div strong {
    display: block;
    margin-bottom: 0.5rem;
    padding: 0.2rem 0;
  }

  .card-container .box div p {
    margin: 0;
    font-size: 0.9em;
    font-weight: 300;
    letter-spacing: 0.1em;
    padding: 0.2rem 0;
  }

  .card-container .box div span {
    font-size: 0.7rem;
    font-weight: 300;
    padding: 0.2rem 0;
  }

  .card-container .box div span:nth-child(3) {
    font-weight: 500;
    margin-right: 0.2rem;
    padding: 0.2rem 0;
  }

  .card-container .box:hover {
    box-shadow: 0px 0px 20px 1px #ffbb763f;
    border: 1px solid rgba(255, 255, 255, 0.454);
  }


  /*This is the css for the footer */

  .footer{
      background-color: #665635;
      text-align: center;
      padding: 20px;
      width: 100%;
      height: 300px;
      color:#0B2633;
      border-radius: 70px 70px 0px 0px;
  }

  #footer-title{
      font-size: 100px;
      font-weight: bold;
      margin-bottom: 10px;
  }

}

@media (max-width: 1024px) {
  .home-hero{
      padding: 50px;
      height: 400px;
  }

  .home-features-container{
      padding: 30px;
      margin: 70px 0px;
  }

  .home-features{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
  }

  .home-cards{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 10px;
      width: 100%;
  }    

  .card-container {
    margin: 20px 0px;
    width: 80%;
    position: relative;
    left : 10%;
  }
}

@media (max-width: 768px) {
   .search-form {
    padding-right: 10px;
   }


   .navbar{
      display: flex;
      justify-content: space-between;
      padding: 10px 0px 10px 10px;
      margin:5px 0px;
      position: fixed;
      top: 0px;
      width: 100%;
      background-color: #ffffff;
      color: #0B2633;
      z-index: 1;
      font-size: 20px;
  }

  .navbar .logo{
      padding:0em 5em 0em 0em; 
      display: flex;
    align-items: center;
    justify-content: center;  

  }

  .search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  /* 
  .search-input {
    font-family: inherit;
    font-size: inherit;
    background-color: #f4f2f2;
    border: none;
    color: #646464;
    padding: 0.7rem 1rem;
    border-radius: 30px;
  }


  .search-button {
    border: none;
    background-color: #f4f2f2;
    margin-top: .1em;
  }

  .search-button:hover {
    cursor: pointer;
  
  } */

  .burger{
    display: block;
    cursor: pointer;
    position: relative;
    right: 2em;
    margin-left: 10px;
  }

  .burger div{
    display: block; 
  }

  .burger_list{
    display: none;
  }

  .burger_list_active {
    background-color: #ffffff;
    position: fixed;
    left: 50%;
    z-index: 2;
    height: 75%;
    width: 55%;
  }

  .nav-links_active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    margin: 0px;
  }

  .nav-links_li_active {
    text-align: center;
    margin: 0px;
    border: 1px solid #0B2633;
    font-size: 50px;
    width: 100%;
  }

  .close_burger_list_active {
    display: block;
    position: relative;
    left: 75%;
    top: 0;
    cursor: pointer;
    margin-bottom: 2em;

  }

  .close_burger_list_line{
    width: 1.5em;
    height: 0.2em;
    background-color: #0B2633;
    margin: 0.5em 0.5em;
  }
   /*This is the css for the footer */

  .footer{
      background-color: #665635;
      text-align: center;
      padding: 20px;
      position: relative;
      top:100%;
      width: 110%;
      height: 300px;
      color:#0B2633;
      border-radius: 70px 70px 0px 0px;
  }

  #footer-title{
      font-size: 100px;
      font-weight: bold;
      margin-bottom: 10px;
  }

}

@media (max-width: 540px) {
  /* From Uiverse.io by Cevorob */ 

}